name: CI
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 16.16.0
      
      - name: Instalação do Mocha para teste
        run: |
          cd src;
          npm install -g mocha;
          npm install
      
      - name: Execução do teste convert
        run: mocha src/test/convert.js
      
      - name: Docker Login
        uses: docker/login-action@v2.1.0
        with:
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_PASSWORD}}
      
      - name: Construção da imagem docker
        uses: docker/build-push-action@v3.2.0
        with:
          context: src
          file: src/Dockerfile
          push: true
          tags: |
            thndg1/aula-conversao-temperatura:v1
            thndg1/aula-conversao-temperatura:latest
